/* NoteCard.css */
.note-card {
  display: flex;
  flex-direction: column; /* 세로 방향으로 박스 아래에 설명 배치 */
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
}

.box-container {
  display: flex;
  justify-content: space-between; /* 두 박스 나란히 배치 */
  margin-bottom: 10px; /* 설명과 박스 사이 간격 추가 */
}

.wrong-box,
.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%; /* 두 박스가 나란히 일정한 크기를 가짐 */
  padding: 20px;
  border-radius: 5px;
}

.wrong-box {
  background-color: #f0e4e4;
  margin-left: 10px;
  width: 100px;
}

.right-box {
  background-color: #a5b68d;
  margin-right: 10px;
  width: 100px;
}

.description {
  font-size: 14px;
  text-align: center;
}

.note-card-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 화면의 100% 높이로 설정 */
}

.footer-container {
  margin-bottom: 0%;
}

footer {
  margin-top: auto; /* 푸터를 하단으로 밀어내기 */
}
