.Home {
  position: fixed;
  height: 50px;
  bottom: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
}

.img {
  filter: opacity(0.5) drop-shadow(0 0 0 #228b22);
}
